cython==0.29.30
mujoco-py
wandb
pydantic
omegaconf
git+https://github.com/Farama-Foundation/d4rl@master#egg=d4rl
gym==0.23.1
tqdm

numpy==1.26.4
jax[cuda12]
jaxlib
distrax
flax
optax
tensorboardX
flashbax
tyro


